<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.developia.mapper.ImageMapper">
<select id="getStoreId" resultType="Long">
	select STORE_SEQ.CURRVAL from dual
</select>
  
  	<!-- 이미지 삽입 -->
	<insert id="saveImage" parameterType="net.developia.domain.ImageVO">
		INSERT INTO IMAGES (IMAGE_ID, STORE_ID, FILE_PATH) 
		VALUES (IMAGE_SEQ.NEXTVAL, #{storeId}, #{filePath})
	</insert>

    <!-- 이미지 id로 이미지 삭제 -->
    <delete id="deleteImage" parameterType="long">
        DELETE FROM IMAGES WHERE IMAGE_ID = #{imageId}
    </delete>
    
    <!-- 특정 팝업스토어의 모든 이미지 삭제 -->
    <delete id="deleteImagesByStoreId" parameterType="long">
        DELETE FROM IMAGES WHERE STORE_ID = #{storeId}
    </delete>

    <!-- 스토어 ID로 이미지 조회 -->
    <select id="getImagesByStoreId" parameterType="long" resultType="net.developia.domain.ImageVO">
        SELECT * FROM IMAGES WHERE STORE_ID = #{storeId}
    </select>
    
    <!-- 이미지 ID로 이미지 조회 -->
    <select id="getImageById" parameterType="long" resultType="net.developia.domain.ImageVO">
    	SELECT * FROM IMAGES WHERE IMAGE_ID = #{imageId}
	</select>
    
</mapper>