<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.developia.mapper.LikeMapper">

    <!-- 좋아요 여부 확인 -->
    <select id="isLiked" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM likes
    WHERE username = #{username, jdbcType=VARCHAR} AND store_id = #{storeId, jdbcType=NUMERIC}
</select>

    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="net.developia.domain.LikeDTO">
        INSERT INTO likes (username, store_id)
        VALUES (#{username}, #{storeId})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="net.developia.domain.LikeDTO">
        DELETE FROM likes
        WHERE username = #{username} AND store_id = #{storeId}
    </delete>

    <!-- 사용자의 관심 팝업 조회 -->
    <select id="selectLikedStores" parameterType="string" resultType="net.developia.domain.PopUpStoreVO">
        SELECT ps.*
        FROM popupstores ps
        INNER JOIN likes l ON ps.store_id = l.store_id
        WHERE l.username = #{username}
    </select>
</mapper>
